.home {
  &-page-view {
    // display: flex;
    // align-items: flex-start;
    height: 100vh;
  }

  &-form-body {
    width: 100%
  }

  &-done {
    &-img {
      width: 160px;
      display: block;
      margin: 0 auto;
      margin-top: 15px;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #4d92df;
      margin: 35px auto 0;
      padding: 11px 0;
      border-radius: 4px;
      width: 154px;
      font-size: 16px;

      &:hover {
        text-decoration: none;
      }
    }
  }

}
