.home {
  &-page-view {
    // display: flex;
    // align-items: flex-start;
    height: 100vh;
  }

  &-form-body {
    width: 100%;
    animation-name: example;
    animation-duration: 0.8s;
    opacity: 1;
  }

  /* Standard syntax */
  @keyframes example {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  &-done {
    &-img {
      width: 160px;
      display: block;
      margin: 0 auto;
      margin-top: 15px;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #4d92df;
      margin: 35px auto 0;
      padding: 11px 0;
      border-radius: 4px;
      width: 154px;
      font-size: 16px;

      &-ic {
        font-size: 16px;
      }

      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }

}
