.form-block {
  width: 350px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 7px;
  overflow-y: auto;

  &-input {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
    outline: none;

    &-wrap {
      padding: 0 0 20px;
    }

    &-label {
      text-align: left;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 14px;
    }
  }

  &-nav {
    border-top: 1px solid #ccc;
    margin-top: 3px;
    padding: 18px;
    height: 58px;
    text-decoration: none;

    &-link {
      font-size: 15px;
      color: #4d92df;
      float: right;
    }

    &-back {
      float: left;
      color: #aaa;
    }
  }

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 18px;
  }

  &-birth {
    flex: 1;
    width: 100%;
    text-align: center;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-right: none;
    outline: none;

    &:last-child {
      border-right: 1px solid #ccc;
    }

    &-label {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 15px;
    }

    &-container {
      text-align: center;
      display: flex;
      flex-direction: row;
    }
  }

  &-about-select {
    background-color: white;
    width: 100%;
    height: 40px;
    border-radius: 0;
  }

  &-step2-item {
    padding-bottom: 25px;
  }

  &-paddTop25 {
    padding-top: 25px;
  }

  &-gend {
    &-but {
      flex: 1;
      width: 100%;
      text-align: center;
      height: 40px;
      border-radius: 0;
      padding: 0;
      margin: 0;
      border: 1px solid #ccc;
      background-color: white;
      color: #333;
      text-transform: uppercase;
      font-size: 12px;
      border-right: none;

      &:last-child {
        border-right: 1px solid #ccc;
      }

      &-active {
        font-weight: bold;
        color: white;
        background-color: #4d92df
      }
    }
  }
}
