@import '../../styles/config';

.form-block {
  width: 350px;
  margin: auto;
  border: 1px solid $form-black-color;
  border-radius: 7px;
  overflow-y: auto;

  &-input {
    border: none;
    border-bottom: 1px solid $form-black-color;
    width: 100%;
    font-size: 16px;
    outline: none;

    &-wrap {
      padding: 0 0 20px;
    }

    &-label {
      text-align: left;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 14px;
    }
  }

  &-nav {
    border-top: 1px solid $form-black-color;
    margin-top: 3px;
    padding: 18px;
    height: 58px;
    text-decoration: none;

    &-link {
      font-size: 15px;
      color: $form-blue-color;
      float: right;
      display: flex;

      &-ic {
        font-size: 20px;
      }
    }

    &-back {
      float: left;
      color: #aaa;
    }
  }

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 18px;
  }

  &-birth {
    flex: 1;
    width: 100%;
    text-align: center;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid $form-black-color;
    border-right: none;
    outline: none;

    &:last-child {
      border-right: 1px solid $form-black-color;
    }

    &-label {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 15px;
    }

    &-container {
      text-align: center;
      display: flex;
      flex-direction: row;
    }
  }

  &-about-select {
    width: 100%;
    height: 40px;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    padding: 0 10px;
    background-color: transparent;

    &-wrap {
      position: relative;
    }

    &-ic-arrow {
      position: absolute;
      font-size: 20px;
      top: 50%;
      margin-top: -10px;
      right: 10px;
      color: $form-blue-color;
      z-index: -1;
    }
  }

  &-step2-item {
    padding-bottom: 25px;
  }

  &-paddTop25 {
    padding-top: 25px;
  }

  &-gend {
    &-but {
      flex: 1;
      width: 100%;
      text-align: center;
      height: 40px;
      border-radius: 0;
      padding: 0;
      margin: 0;
      border: 1px solid $form-black-color;
      background-color: white;
      color: #333;
      text-transform: uppercase;
      font-size: 12px;
      border-right: none;
      outline: none;

      &:last-child {
        border-right: 1px solid $form-black-color;
      }

      &-active {
        font-weight: bold;
        color: white;
        background-color: $form-blue-color
      }
    }
  }
}
